@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hides scrollbar but allows scrolling */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  color: #111111;
  background-color: #ffffff;
}
